[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "home/.vim/bundle/vim-multiple-cursors"]
	path = home/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "home/.vim/bundle/robotframework-vim"]
	path = home/.vim/bundle/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/rust.vim"]
	path = home/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
