[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
